<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80vh;
          margin: 0;
        }
    
        .container {
          max-width: 600px;
          padding: 20px;
          border: 2px solid #af4c7d;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
    <div class="container">
        <p>
            
        Bienvenue dans notre élégante boutique de sacs à main, 
        où le style rencontre la fonctionnalité pour créer une expérience de mode incomparable. 
        Notre collection soigneusement sélectionnée de sacs à main incarne l'essence même du chic contemporain, 
        alliant artisanat exceptionnel et design avant-gardiste. Chaque sac raconte une histoire unique, 
        créée avec passion et dévouement pour satisfaire les goûts les plus exigeants. 
        Que vous recherchiez un accessoire pour compléter votre tenue de soirée ou un compagnon quotidien pour la vie urbaine, 
        notre boutique offre une gamme diversifiée qui répond à toutes les occasions. 
        Plongez dans l'univers luxueux de la maroquinerie où la qualité rencontre la mode, 
        et découvrez le sac à main parfait qui reflète votre style distinctif. Chez nous, chaque sac n'est pas seulement un accessoire, 
        mais une déclaration de votre individualité.
        </p>
      </div>
    
</body>
</html>
